<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumir API y mostrar resultado en un Input</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <form id="subirSaludo">
        <input type="text" id="resultado" name="resultado">
        <button id="btnConsumir">Recibir saludo</button>
        <br>
        <br>
        <button type="submit" name="subir">Subir saludo</button>
    </form>
    <script>
        $(document).ready(function () {
            $('#btnConsumir').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/consumir',
                    type: 'GET',
                    success: function (response) {
                        $('#resultado').val(response);
                    },
                    error: function () {
                        $('#resultado').val('Error al consumir la API de Express.');
                    }
                });
            });
        });
    </script> 
    <script src="../static/assets/js/saludar.js"></script>   
</body>
</html>
